<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10612668972-675grj43n34oe2aiia8b4n15ohi93um2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10612668972-675grj43n34oe2aiia8b4n15ohi93um2</string>
	<key>API_KEY</key>
	<string>AIzaSyAu0QnSIN5Q83dmOoS7nmmU0GEQ6odt18s</string>
	<key>GCM_SENDER_ID</key>
	<string>10612668972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trillion.unicorn.tomorrow</string>
	<key>PROJECT_ID</key>
	<string>tomorrow-a8631</string>
	<key>STORAGE_BUCKET</key>
	<string>tomorrow-a8631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10612668972:ios:4aa765cfc059a913e2ef89</string>
	<key>DATABASE_URL</key>
	<string>https://tomorrow-a8631.firebaseio.com</string>
</dict>
</plist>